
bin/
*.exe
*.idb
*.ilk
*.log
*.obj
*.pdb
*.tlog
/ccls-cache
config.json
.d/
# Compiled Object files
*.o
*.obj
*.json

# Executables
*.bin
*.elf
build/.cmake
build/CmakeFiles
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CmakeCache.txt
build/rules.ninja

!/build/SDL2.dll