
[submodule "lvgl"]
	path = include/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "lv_examples"]
	path = include/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "lv_drivers"]
	path = include/lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git